/*******************************************************************************
 * Variaveis
 * - Colors
 * Classes
 *******************************************************************************/ 

 /*******************************************************************************
  * Colors
  * - background
  * - fundo
  * - nav
  *******************************************************************************/ 
  $bg-color: #ff7b3a;

  /*******************************************************************************
   * Fundo
   *******************************************************************************/
   $fundo: #55606A;
  /*******************************************************************************
   * - nav
   *******************************************************************************/
   $nav-bor-top: #FF3300;

/*******************************************************************************
 * Classes
 * - Wrapper
 *******************************************************************************/ 
 .wrapper {
 	width: 80%;
 	margin: 0 auto;
 }